.catalog {
    padding: 12px;
    gap: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog-page {
    background: url('../../../assets/images/CatalogPage_background.png') repeat;
  }